body,
ol,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
table,
td,
img,
div,
dl,
dt,
dd,
input {
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    overflow-x: hidden;
    background-color: #222;
}

img {
    border: none;
}

li {
    list-style: none;
}

input,
select,
textarea {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}


/*清浮动*/

.clearfix:after {
    content: "";
    *display: block;
    *clear: both;
}

.clearfix {
    zoom: 1;
}


/*if IE*/

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: outline;
}

a:active {
    text-decoration: none;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(100px, auto);
    grid-gap: 10px;
    grid-template-areas: "App-header Filters" "CardList .";
}

.Router {
    float: right;
    font-size: 20px;
    padding: 30px;
    color: white;
}

.Router .off {
    margin: 15px;
    width: 210px;
    height: 100px;
    border-radius: 50px;
    zoom: 0.5;
    background: url(../img/toggle.png) 0 100px;
}

.Router .on {
    margin: 15px;
    width: 210px;
    height: 100px;
    border-radius: 50px;
    zoom: 0.5;
    background: url(../img/toggle.png) 0 0;
}

.App {
    text-align: center;
    font-weight: bolder;
    background-color: #222;
    color: white;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 10px;
    color: white;
    display: flex;
    align-items: center;
    font-weight: bolder;
}

.App-header>div {
    width: 200px;
    height: 115px;
    background-image: url("../img/bg-image.jpg");
    background-size: cover;
    color: black;
    margin-top: 20px;
    border-radius: 10px;
    font-size: 10px;
}

.App-header h2 {
    margin: 20px 0 0 10px;
}

.App-header img {
    width: 30px;
    height: 30px;
    margin: 10px 0 25px 150px;
}

.Filters {
    padding-right: 200px;
    text-align: right;
    margin: 0 auto 20px;
    padding-bottom: 20px;
}

.Filters select,
input,
option,
p {
    margin: 5px;
    padding: 5px;
    background-color: #222;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

#mask {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(22, 22, 22, 0.7);
    z-index: 5;
    width: 100%;
    height: 100%;
}

.Card-detail {
    position: fixed;
    margin: 5% 0 0 30%;
    width: 70%;
    max-width: 600px;
    height: auto;
    z-index: 6;
}

.Card-detail img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

.Filters select {
    background: url("../img/select.png") no-repeat 96% 0;
    background: transparent;
    min-width: 150px;
}

.Filters label,
p {
    margin-left: 20px;
}

.Card-list {
    padding: .5vw;
    margin: 0 auto;
    padding: 0;
}

.Card-list li {
    margin: 20px;
    padding: 0;
    width: 200px;
    float: left;
    cursor: pointer;
}

.Cards img {
    width: 100%;
    min-height: 280px;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* mobile responsive design */

@media screen and (max-width: 600px) {
    .App-header>div {
        display: none;
    }
    .Card-detail {
        position: fixed;
        margin: 25% 0 0 15%;
        width: 70%;
        max-width: 600px;
        height: auto;
        z-index: 6;
    }
    .Card-detail img {
        width: 100%;
        max-width: 600px;
        height: auto;
    }
    .Filters {
        padding-right: 0;
        text-align: left;
    }
}